.button {
  font-size: 1.1rem;
  color: $white;
  background-color: $primaryColor;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}
