.button {
  color: $black;
  background-color: $white;
  padding: 0.2rem 0.8rem;
  border: 2px solid $primaryColor;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 2px solid $darkPrimaryColor;
    cursor: pointer;
    scale: 1.1;
  }
}
