.form {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button {
    color: $white;
    background-color: $primaryColor;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: none;
    width: 100%;

    &:hover {
      cursor: pointer;
      scale: 1.03;
      background-color: $darkPrimaryColor;
    }
  }
}
