.formGroup {
  min-height: 6.5rem;
  width: 100%;

  .label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
  }
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;

  .icon {
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryColor;
  }

  .formControl {
    padding: 1rem 1rem 1rem 3rem;
    border: 1px solid $primaryColor;
    border-radius: 0.5rem;
    margin: 1px;
    width: 100%;

    &:focus {
      box-shadow: 0 0 3px 1px $primaryColor;
      border: 2px solid $darkPrimaryColor;
      outline: none;
      margin: 0;
    }

    &:hover {
      box-shadow: 0 0 3px 1px $primaryColor;
    }
  }

  .isValid {
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 0.5rem;
    border: 1px solid $red;
    margin: 1px;

    &:focus {
      box-shadow: 0 0 3px 1px $red;
      border: 2px solid $darkRed;
      outline: none;
      margin: 0;
    }

    &:hover {
      box-shadow: 0 0 3px 1px $red;
    }
  }
}

.error {
  font-size: 1rem;
  margin-top: 0.2rem;
  color: $darkRed;
}
