.flexBox {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 18rem;

  .background {
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2rem 0 3rem 0;

    .imageNavbar {
      display: flex;
    }
    .logo {
      border-radius: 4rem;
      margin-bottom: 3rem;
      height: 150px;
    }
  }
}
